@model SynopticProjectChatAgent.Models.Holiday

@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />

    <title>Select Star Rating</title>
</head>
<body>

<h4>Holiday</h4>
<hr />
<div> 
    @using(Html.BeginForm("SelectStarRating","Home", FormMethod.Post))
        {
            <p>StarRating</p>

            <p>@Html.TextBoxFor(m=> m.StarRating)</p>
            <p><input type="Submit" value="Submit"/>
</p>
        }
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>

