@model SynopticProjectChatAgent.Models.Holiday

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectContinent</title>
</head>
<body>

<h4>Holiday</h4>
<hr />
<div> 
    @using(Html.BeginForm("SelectContinent","Home", FormMethod.Post))
        {
            <p>Continent</p>

            <p>@Html.TextBoxFor(m=> m.Continent)</p>
 
            <p><input type="Submit" value="Submit" /></p>
        }
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
